<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>LSMSA School News</title>
    <link>https://www.lsmsa.edu/news--events</link>
    <description>Latest news from Louisiana School for Math, Science, and the Arts</description>
    <language>en-us</language>
    <lastBuildDate>Fri, 28 Aug 2026 23:15:44 GMT</lastBuildDate>
    <item>
                                          
      
      
      
      
      
      <title>LSMSA Presents Outstanding School Support Employee Award to Cara Stanfield</title>
                                          
      
      
      
      
      
      <link>https://www.lsmsa.edu/page/news-detail?pk=1683545&amp;nc=20751&amp;fromId=249284</link>
                                          
      
      
      
      
      
      <description>Each year, the Louisiana School for Math, Science, and the Arts recognizes one staff member whose service exemplifies dedication, compassion and an unwavering commitment to students and the school community with the Outstanding School Support Employee Award.</description>
                                          
      
      
      
      
      
      <guid>https://www.lsmsa.edu/page/news-detail?pk=1683545&amp;nc=20751&amp;fromId=249284</guid>
                                          
      
      
      
      
      
      <pubDate>Thu, 27 Aug 2026 00:00:00 GMT</pubDate>
                                          
      
      
      
      
      
      <enclosure type="image/jpeg" url="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/947/news/thumb_news1683545_1756951.jpg"/>
                                        
    
    
    
    
    
    </item>
  </channel>
</rss>
