<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>LSMSA School News</title>
    <link>https://www.lsmsa.edu/news--events</link>
    <description>Latest news from Louisiana School for Math, Science, and the Arts</description>
    <language>en-us</language>
    <lastBuildDate>Fri, 29 May 2026 10:15:41 GMT</lastBuildDate>
    <item>
                                                                  
      
      
      
      
      
      
      
      
      
      <title>Arts Awards Ceremony celebrates student excellence across theatre, music, dance, visual arts and performance programs</title>
                                                                  
      
      
      
      
      
      
      
      
      
      <link>https://www.lsmsa.edu/page/news-detail?pk=1680166&amp;nc=20751&amp;fromId=249284</link>
                                                                  
      
      
      
      
      
      
      
      
      
      <description>The Louisiana School for Math, Science, and the Arts recently celebrated student achievement across its Creative and Performing Arts Department during the annual CAPA Department Awards Ceremony, recognizing excellence in theatre, technical theatre, visual arts, dance, music, piano, voice and chorale performance.</description>
                                                                  
      
      
      
      
      
      
      
      
      
      <guid>https://www.lsmsa.edu/page/news-detail?pk=1680166&amp;nc=20751&amp;fromId=249284</guid>
                                                                  
      
      
      
      
      
      
      
      
      
      <pubDate>Tue, 26 May 2026 00:00:00 GMT</pubDate>
                                                                  
      
      
      
      
      
      
      
      
      
      <enclosure type="image/jpeg" url="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/947/news/thumb_news1680166_1751726.jpg"/>
                                                                
    
    
    
    
    
    
    
    
    
    </item>
    <item>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <title>LSMSA Classical Scholars Program and NJCL Latin Honor Society Celebrate 2026 Student Achievement</title>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <link>https://www.lsmsa.edu/page/news-detail?pk=1680155&amp;nc=20751&amp;fromId=249284</link>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <description>The Louisiana School for Math, Science, and the Arts (LSMSA) held its annual Classical Scholars Program Awards Ceremony and NJCL Latin Honor Society Induction on May 15, 2026 in the CPT Recital Hall. The evening recognized the outstanding academic, creative, and athletic achievements of students in the study of classical languages and civilizations.</description>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <guid>https://www.lsmsa.edu/page/news-detail?pk=1680155&amp;nc=20751&amp;fromId=249284</guid>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <pubDate>Tue, 26 May 2026 00:00:00 GMT</pubDate>
                                                                        
      
      
      
      
      
      
      
      
      
      
      <enclosure type="image/jpeg" url="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/947/news/thumb_news1680155_1751666.jpg"/>
                                                                      
    
    
    
    
    
    
    
    
    
    
    </item>
    <item>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <title>Louisiana School for Math, Science, and the Arts Foundation launches public phase of “Growing Beyond” campaign</title>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <link>https://www.lsmsa.edu/page/news-detail?pk=1679857&amp;nc=20751&amp;fromId=249284</link>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <description>The Louisiana School for Math, Science, and the Arts and the LSMSA Foundation have publicly launched “Growing Beyond: The Campaign for LSMSA,” the most ambitious campaign in school history.</description>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <guid>https://www.lsmsa.edu/page/news-detail?pk=1679857&amp;nc=20751&amp;fromId=249284</guid>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <pubDate>Fri, 22 May 2026 00:00:00 GMT</pubDate>
                                                                                                                                                                                                            
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <enclosure type="image/jpeg" url="https://bbk12e1-cdn.myschoolcdn.com/ftpimages/947/news/thumb_news1679857_1751198.jpg"/>
                                                                                                                                                                                                          
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </item>
  </channel>
</rss>
